@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Karla:wght@300&display=swap");

:root {
  --text: #161410;
  --background: #fcfbf9;
  --primary: #c59c40;
  --secondary: #ebcb85;
  --accent: #f6bc3e;
}

/* Set default margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* Background and center alignment for the whole website */
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 7rem;
}

/* Styling for the navigation bar */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  transition: 0.15s;
  z-index: 5;
}

/* Logo styling in the navigation bar */
header .Logo {
  font-weight: 800;
  color: var(--text);
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 20px;
  transition: 0.15s;
}

/* Navigation menu styling */
header ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  list-style: none;
}

header ul li a {
  margin: 0 15px;
  text-decoration: none;
  color: var(--text);
  letter-spacing: 2px;
  font-weight: 600;
  transition: 0.15s;
}

/* Hover effect for navigation links */
header ul li a:hover {
  color: var(--background);
}
