:root {
  --text: #161410;
  --background: #fcfbf9;
  --primary: #c59c40;
  --secondary: #ebcb85;
  --accent: #f6bc3e;
}

.keybzMainContent {
  width: 100%;
  background-color: var(--background);
  padding: 2em;
}

.keybzTitleHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70em;
  margin-bottom: 3em;
}

.keybzWelcomeTitle {
  font-size: 7rem;
  padding: 0.1em;
  margin: 0.1em 0.5em 0.1em 0.1em;
}

.keybzWelcomeDescription {
  text-align: justify;
  font-size: 1rem;
  width: 30em;
  padding: 0.5em;
  margin: 0.5em;
}

.keybzSubContent {
  width: 100%;
  background-color: var(--secondary);
  padding: 2em;
}

.keybzSubTitleHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 70em;
  margin-bottom: 3em;
}

.keybzSubDescription1 {
  text-align: justify;
  font-size: 1rem;
  width: 30em;
  padding: 0.1em;
  margin: 0.1em 2em 0.1em 0.1em;
}

.keybzSubImage1 {
  width: 20em;
  padding: 0.5em;
  margin: 0.1em 0.1em 0.1em 2em;
}

.subImage-1 {
  width: 100%; /* Adjusts the image to fill the container */
  max-width: 20em; /* Limits the size of the image */
  border-radius: 20px;
}
