@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Karla:wght@300&display=swap");

*	/* Set the default margin and padding to zero */ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body /* This is for my whole website background */ {
  background: #252525;
}

/* This is CSS for Navigationbar  */
header /* This is for header or navbar function */ {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: space-between;
  align-items: center;
  transition: 0.15s;
  padding: 30px 100px;
  z-index: 5;
}

header .Logo {
  position: relative;
  font-weight: 700;
  color: orange;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 20px;
  transition: 0.15s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: orange;
  letter-spacing: 2px;
  font-weight: 500px;
  transition: 0.15s;
}

header a:hover {
  color: white;
}
