@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*	/* This is for defaulting my template */
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

/*===========================================*/
/* This is CSS for Navigationbar  */
header /* This is for header or navbar function */
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
	background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 30px 100px;
	border-radius: 10px;
    z-index: 2;
}

header .Logo
{
    position: relative;
    font-weight: 700;
    color: orange;
    text-decoration: none;
    letter-spacing: 2px;
	font-size:20px;
    transition: 0.6s;
}

header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: orange;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

header li:hover
{
	background-color:orange;
	border-radius: 20px;
}

header a:hover
{
	color:white;
}
/*===========================================*/

body
{
	background: linear-gradient(to top, #ff9900 0%, #00ccff 100%);
}
/*===========================================*/

/* This is for Container Contents */
.container{
	width: 98%;
	padding:10px;
	margin:auto;
	margin-top: 105px;
	margin-bottom: 10px;
	overflow: hidden;
	text-align: justify;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
    z-index: 4;
}

.container h1
{
	text-align:left;
	color:orange;
	text-shadow: 0px 0px 30px white;
    margin-bottom: 5px;
}

.container h3
{
    margin: 10px;
    margin-left: 40px;
}

.container h2
{
    text-align:left;
	color:orange;
	text-shadow: 0px 0px 30px white;
    margin-bottom: 5px;
}

.container hr
{
	height: 5px;
	background-color: orange
}

.container .Lbox 
{
	width: 700px;
	margin: 20px;
    margin-bottom: 100px;
	float: left;
	padding: 10px;
}

section ul
{
	display: block;
}

.tsk
{
	margin-left: 400px;
}

/*===========================================*/

.image-container 
{
	margin: 0px;
	padding: 5px;
}

.image-container .IMGR
{
	width: 40%;
    margin: 20px;
	margin-left: 130px;
	margin-top: 30px;
    margin-bottom: 100px;
	padding: 0%	;
    border: 4px  solid  black;
    box-shadow: 5px 5px 5px orange;
}

.image-container .IMGR:hover
{
    transition: 1s;
	transform: scale(1.3);
	z-index: 0;
}

.image-container .brands
{
    width: 50%;
    display:block;
    margin-left: 400px;
}

.image-container .akko
{
    width: 40%;
}

.image-container .keychron
{
    margin-top: 20px;
    width: 50%;
}

.image-container .rakk
{
    margin-top: 40px;
    width: 30%;
}

.image-container .rk
{
    margin-top: 20px;
    margin-left: 150px;
    width: 50%;
}

.akko:hover
{
    transition: 1s;
	transform: scale(1.3);
	z-index: 0;
}

.keychron:hover
{
    transition: 1s;
	transform: scale(1.3);
	z-index: 0;
}

.rakk:hover
{
    transition: 1s;
	transform: scale(1.3);
	z-index: 0;
}

.rk:hover
{
    transition: 1s;
	transform: scale(1.3);
	z-index: 0;
}
/*===========================================*/

/* This is for Java Script Buttons CSS format */
#myBtn 
{
	display: none;
	position: fixed;
	bottom: 60px;
	right: 20px;
	z-index: 99;
	font-size: 14px;
	border: none;
	outline: none;
	background-color: orange;
	color: black;
	cursor: pointer;
	padding: 10px;
	border-radius: 30px;
}

	#myBtn:hover 
{
	background-color: #777;
	transition-duration: 0.5s;
}
/*===========================================*/

/*Footer*/
.foot
{
	padding: 10px;
	text-align: center;
    background-color: black;
}
  .foot p 
  {
	opacity: 1.0;
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
	color: orange;	
  }
  /*===========================================*/